.open {
    color: #14cf14;
    font-size: 16;
    font-weight: 900;
}

.closed {
    color:red;
    font-size: 16;
    font-weight: 900;
}

.add {
    width: 30%;
    text-align: center;
    padding: 5px 10px;
    color: #fff;
    background-color: #ff7979;
    cursor: pointer;
}

.edit {
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: #4885ed;
    color: #fff;
    padding: 6px 10px;
}

.delete {
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: red;
    color: #fff;
    padding: 3px 0px;
}