.box {
    border: 1px solid rgb(206, 206, 206);
    /* box-shadow: 0 6px 10px 0 rgb(161, 161, 161); */
    text-align: center;
    margin: auto;
    width: 100%;
    cursor: pointer;
}

.admin-text {
    font-weight: 600;
    margin-top: 20px;
    color: #3e4852;
}

.rowp {
    margin-top: 50px;
}