.profile-content {
    width: 100%;
    margin: auto;
    text-align: center;
}

.profile-text {
    text-align: center;
    margin-top: 15px;
}

.name-text {
    font-size: 20px;
}


.box {
    border: 1px solid #e9ecef;
    padding: 30px;
}

.nothing {
    font-weight: 900;
    font-size: 16px;
    color: #4885ed;
}

.centerStyle {
    width: 80%;
    margin: auto;
}

.alertStyle {
    border: 1px solid green;
    background-color: rgb(0, 128, 0, 0.3);
    color: green;
    padding: 15px;
    margin-bottom: 15px;
}