.jumbotron {
    height: 550px;
}

.mainBg {
    background-image: url("./../../assets/bg1.jpeg");
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: contain;
    background-size: cover;
}

.main-header {
    font-family: 'Proxima xBold', Arial, Helvetica, sans-serif;
    font-size: 60px;
    margin: auto;
    color: #fff;
    font-weight: 800;
    margin-top: 70px;
}

.sub-header {
    font-family: 'Proxima Thin', Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #fff;
    margin: auto;
    font-weight: 900;
    margin-top: 30px;
}

.main-button {
    background-color: #ff7979;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-top: 25px;
    border: 1px solid #ff7979;
    padding: 10px 45px;
    border-radius: 50px;
}

.create-button {
    background: linear-gradient(to left, #ffbc79, #ff7979);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-top: 25px;
    border: 1px solid #ff7979;
    padding: 10px 45px;
    border-radius: 50px;
}

.contact-button {
    background-color: #fff;
    color: #ff7979;
    font-size: 18px;
    font-weight: bold;
    margin-top: 25px;
    border: 1px solid #ff7979;
    padding: 10px 45px;
    border-radius: 50px;
}

.main-button:hover {
    background-color: #fff;
    color: #ff7979;
    font-family: 'Proxima Bold', Arial, Helvetica, sans-serif;
    border: 1px solid #ff7979;
    cursor: pointer;
}

.main-form {
    width: 40%;
    margin: auto;
    text-align: center;
    margin-top: 45px;
}

.jumbotron Input {
    border: 0;
    height: 40px;
    margin-top: 15px;
    border-radius: 0;
}

.works-header {
    margin-bottom: 70px;
}

.works-head {
    font-family: 'Proxima Bold', Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: center;
    font-weight: 800;
    margin-top: 60px;
}

.works-story {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin-top: 25px;
    line-height: 140%;
}

.feedback-section {
    background-color: #ff7979;
    color: #fff;
    margin: auto;
}

.feedback {
    font-family: 'Proxima Thin', Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    margin-bottom: 70px;
}

.quotes-img {
    width: 20%;
    margin: auto;
    padding: 50px;
}

.enough-section {
    margin-bottom: 50px;
}

.custom-link {
    color: #fff;
    font-size: 16px;
    font-family: 'Proxima Bold';
    cursor: pointer;
}

.no-link {
    color: #fff;
    font-size: 16px;
    font-family: 'Proxima Bold';
    cursor: pointer;
}

.custom-link:hover {
}