/* general styles for components */
.footer-section {
    background-color: #232c3b;
    color: #fff;
    padding-top: 70px;
    padding-bottom: 30px;
    text-align: left;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Proxima Thin';
    margin-bottom: 15px;
}

.footer-headers {
    font-family: 'Proxima Regular', Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.footer-search {
    text-align: right;
}

.footer-search Input {
    border-radius: 0;
    background-color: #232c3b;
    color: #fff;
}

.footer-main-header {
    font-family: 'Proxima Bold', Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-left: 16px;
    margin-bottom: 20px;
}

.footer-divider {
    height: 1px;
    color:  #e7e5e5;
    background: #e7e5e5;
    font-size: 0;
    border: 0;
}

/* registration nav header styles */
.header {
    background-color: #fff;
    box-shadow: 4px 4px 3px 4px #cfcece;
    margin-bottom: 30px;
}

.header-content {
    text-align: center;
    width: 95%;
    margin: 0 auto;
    padding: 15px;
}

.login-text {
    color: #ff7979;
    font-family: "Proxima bold", Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.login-button {
    position: relative;
    top: 10px;
}

.logo-head {
    font-family: 'Proxima Bold';
    font-size: 30px;
    color: #ff7979;
}

.already {
    color: #333333;
}

.user-head-icons {
    text-align: center;
}

.user-head-icons:hover {
    color: #ff7979;
    cursor: pointer;
}