.container-register {
    min-height: 0;
    width: 550px;
    color: #333333;
    margin-top: 10px;
    padding: 0;
    border: 1px solid #fff;
}

.register-header {
    font-family: 'Proxima Bold', Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #ff7979;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container-form {
    margin-top: 10%;
    background-color: #f7f7f7;
    padding: 20px;
}

.centered-text {
    text-align: center;
}

.active-tab {
    color: #ff7979;
}

.indiv-reg-form Input {
    height: 40px;
    margin-top: 15px;
    border-radius: 0;
    border: 1px solid #646464;
}

.submit-button {
    background-color: #ff7979;
    color: #fff;
    font-family: 'Proxima Bold', Arial, Helvetica, sans-serif;
    padding: 10px 45px;
    border: 1px solid #ff7979;
    margin-top: 20px;
}

.testStyle {
    width: 30%;
    margin: auto;
}

.centerStyle {
    width: 80%;
    margin: auto;
}

.alertStyle {
    border: 1px solid green;
    background-color: rgb(0, 128, 0, 0.3);
    color: green;
    padding: 15px;
    margin-bottom: 15px;
}