.search-filter {
    position: relative;
    top: 40px;
    width: 100%;
    margin: 0 auto;
}

.search-filter Input {
    border-radius: 0;
}

.search-btn {
    background-color: #ff7979;
    border: 1px solid #ff7979;
    color: #fff;
    padding: 8px 25px;
}

.food-business {
    border: 1px solid #efefef;
    padding-top: 18px;  
    border-radius: 5px;
    box-shadow: 5px 5px 5px #efefef;
    width: 100%;
    margin-left: 20px;
    margin-right: 70px;
    margin-bottom: 40px;
    /* margin: auto; */
    text-align: center;
}

.food-business:hover {
    cursor: pointer;
    box-shadow: 6px 6px 6px #c0c0c0;
}


.food-business img {
    border-radius: 5px;
    box-shadow: 5px 5px 5px #efefef;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50%;
}

.food-business-container {
    text-align: center;
    width: 100%;
    margin: 90 auto;
    margin: 1px solid black;
}

.food-text {
    font-family: 'Proxima Bold', Arial, Helvetica, sans-serif;
    margin: 10px;
    font-size: 17px;
    text-align: center;
}

.rev {
    font-style: italic;
    color: #aaaaaa;
    margin-left: 10px;
}

.fab {
    width: 50px;
    height: 50px;
    background-color: #ff7979;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #666;
    z-index: 999;
    
    font-size: 20px;
    line-height: 50px;
    color: white;
    text-align: center;
    
    position: fixed;
    right: 50px;
    bottom: 50px;
    
   transition: all 0.1s ease-in-out;
 }
 
 .fab:hover {
    box-shadow: 0 6px 14px 0 #666;
    cursor: pointer;
    transform: scale(1.0);
 }

 .fab-suggestions {
    width: 50px;
    height: 50px;
    background-color: #4885ed;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 rgb(161, 161, 161);
    z-index: 999;
    
    font-size: 20px;
    line-height: 50px;
    color: white;
    text-align: center;
    
    position: fixed;
    right: 130px;
    bottom: 50px;
    
   transition: all 0.1s ease-in-out;
 }

 .fab-suggestions:hover {
    box-shadow: 0 6px 14px 0 #666;
    cursor: pointer;
    transform: scale(1.0);
 }