@font-face {
    font-family: 'Proxima Regular';
    src: local('Proxima'), url(./assets/fonts/Proxima_regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Proxima Bold';
    src: local('Proxima'), url(./assets/fonts/Proxima_xbold.ttf) format('truetype');
}

@font-face {
    font-family: 'Proxima xBold';
    src: local('Proxima'), url(./assets/fonts/Proxima_xxbold.ttf) format('truetype');
}

@font-face {
    font-family: 'Proxima Semi-bold';
    src: local('Proxima'), url(./assets/fonts/Proxima_semibold.ttf) format('truetype');
}

@font-face {
    font-family: 'Proxima Thin';
    src: local('Proxima'), url(./assets/fonts/Proxima_thin.ttf) format('truetype');
}

body {
    font-family: 'Proxima Regular', Arial, sans-serif;
    font-style: 'normal';
    font-weight: 400;
    font-size: 14px;
    color: #3e4852;
    width: 100%;
    height: 100%;
}

.marginTop70 {
    margin-top: 70px;
}

.marginTop30 {
    margin-top: 30px;
}

.marginTop50 {
    margin-top: 50px;
}

.marginTop90 {
    margin-top: 90px;
}

.marginTop110 {
    margin-top: 110px;
}

.marginBottom90 {
    margin-bottom: 90
}

.errMsg {
    color: red;
    text-align: center;
    font-family: 'Proxima Bold', Arial, Helvetica, sans-serif;
}

.infoMsg {
    color: rgb(148, 148, 148);
    font-style: italic;
}