.details-header {
    font-family: 'Proxima Thin', Arial, Helvetica, sans-serif;
    color: #ff7979;
    margin-left: 15px;
}

.cover-image {
    border-radius: 5px;
    box-shadow: 6px 6px 6px #efefef;
    position: relative;
    top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 50%;
}

.overview-header {
    margin-top: 30px;
}

.overview-text {
    font-size: 15px;    
}

.search-filter {
    position: relative;
    top: 40px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.search-btn {
    background-color: #ff7979;
    border: 1px solid #ff7979;
    color: #fff;
    padding: 8px 40px;
}

.rev-body Input {
    border-radius: 0;
}

.operand {
    font-family: 'Proxima Bold', Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #ff7979;
}

.unit {
    font-size: 25px;
}

.total {
    font-family: 'Proxima Bold', Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.operand:hover {
    cursor: pointer;
}

.qty {
    font-family: 'Proxima Thin', Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.order-btn {
    background-color: #fff;
    border: 1px solid #ff7979;
    color: #ff7979;
    box-shadow: 5px 5px 5px #efefef;
    padding: 8px 40px;
}

.delete-btn {
    background-color: #ff7979;
    color: #fff;
    border: 1px solid #ff7979;
    box-shadow: 5px 5px 5px #efefef;
    padding: 8px 40px;
}

.delete-btn:hover {
    background-color: #fff;
    border: 1px solid #ff7979;
    color: #ff7979;
    cursor: pointer;
}

.order-btn:hover {
    background-color: #ff7979;
    border: 1px solid #ff7979;
    color: #fff;
    cursor: pointer;
}

.centerStyle {
    width: 80%;
    margin: auto;
}

.alertStyle {
    border: 1px solid green;
    background-color: rgb(0, 128, 0, 0.3);
    color: green;
    padding: 15px;
    margin-top: 90px;
}

.modal-top {
    position: relative;
    top: 20%;
}

.rating-btn {
    background-color: #fff;
    border: 1px solid #ff7979;
    color: #ff7979;
    box-shadow: 5px 5px 5px #efefef;
    /* padding: 2px 20px; */
}

.rating-btn:hover {
    cursor: pointer;
    background-color: #ff7979;
    color: #fff;
}

.rev-foot Button {
    border-radius: 0;
}

.price {
    font-family: 'Proxima Thin', Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.container-img {
    margin: auto;
    width: 60%;
    text-align: center;
}

.menu-item {
    border: 1px solid #efefef;
    padding-top: 18px;  
    border-radius: 5px;
    box-shadow: 5px 5px 5px #efefef;
    width: 100%;
    margin: auto;
    text-align: center;
}

.menu-item img {
    border-radius: 5px;
    box-shadow: 5px 5px 5px #efefef;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    height: 50%;
}

.displayNone {
    display: none;
}

.center-it {
    text-align: center;
    width: 100%;
    margin: 10 auto;
}

.closedbutton {
    border-radius: 0; 
    position: 'relative'; 
    top: 6px;
    color: #fff; 
    background-color: #ff7979;
    border: 1px solid #ff7979;
}

.openbutton {
    background-color: #14cf14;
    border-radius: 0; 
    position: 'relative'; 
    top: 6px;
    color: #fff; 
    border: 1px solid rgb(20, 207, 20);
}